<h1>Add Question</h1>
<%= form_for(@ques) do |f| %>

<%= render 'shared/other_errors', :object => f.object%>

<div class="field">

<%= f.label :content %><br />
<%=text_field_tag 'content', '', :size => 75%>
</div>
<div class="field">
<%= f.label :hint %><br />

<%=text_field_tag 'hint', '', :size => 75%>
</div>
<div class="field">
<%= f.label :option1 %><br />

<%=text_field_tag 'option1', '', :size => 75%>
</div>
<div class="field">
<%= f.label :option2 %><br />
<%=text_field_tag 'option2', '', :size => 75%>
</div>
<div class="field">
<%= f.label :option3 %><br />

<%=text_field_tag 'option3', '', :size => 75%>
</div>
<div class="field">
<%= f.label :option4 %><br />

<%=text_field_tag 'option4', '', :size => 75%>
</div>
<div class="field">
<%= f.label :answer %><br />

<%=text_field_tag 'answer', '', :size => 75%>
</div>
<div class="actions">
<%= f.submit "Add" %>
</div>
<% end %>