<table class="profile" summary="Profile information">
<tr>
<td class="main">

</td>
<td class="sidebar round">
<strong>NAME&nbsp;:</strong> <%= @user.name %><br />
<%if @user.admin?%>
<strong><em>ADMINISTRATOR</em></strong><br/>
<strong>QUESTIONS: <%= @questions.count %></strong>
<%else%>
<strong>SCORE:&nbsp;</strong><%= @score %>
<%end%>
</td>
</tr>
</table>
<%if current_user.admin?%>
<%if @user.admin?%>
<% if @user.questions.present? %>
<% @questions.each do |question| %>
<%=question.id%>&nbsp;.&nbsp;<%=question.content%><br/>
<% end %>
<%end%>
<%end%>
<%else%>
<% end %>

